.clock{
    position: relative;
    display: flex;
    width: 90%;

}
.time{
    position: relative;
    display: flex;
    width: 50%;
    justify-content: flex-end;
}
.date{
    position: relative;
    display: flex;
    width: 50%;
    justify-content: flex-start;
}

